<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcfunds.mapper.ParseRecourseFileMapper">
    <sql id="tableName">
        parse_recourse_file
    </sql>

    <sql id="baseColumn">
        recourse_file_id,resource_id,file_name,file_type,location,is_parsed,create_by,create_time,update_by,update_time,remark
    </sql>

</mapper>