<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcfunds.mapper.ParseConfigMapper">
    <sql id="tableName">
        parse_config
    </sql>

    <sql id="baseColumn">
        table_config_id,resource_id,config_type,table_type,table_match_method,table_parser_type,table_conditions,table_expectation_row,table_is_merge_same_title,table_is_merge_row,table_interpret_conditions,text_reg_expression,create_by,create_time,update_by,update_time,remark
    </sql>

</mapper>