<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.result.mapper.ParseResultMapper">
    
    <resultMap type="ParseResult" id="ParseResultResult">
        <result property="parseResultId"    column="parse_result_id"    />
        <result property="resourceId"    column="resource_id"    />
        <result property="recourseFileId"    column="recourse_file_id"    />
        <result property="parseConfigId"    column="parse_config_id"    />
        <result property="result"    column="result"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectParseResultVo">
        select parse_result_id, resource_id, recourse_file_id, parse_config_id, result, create_by, create_time, update_by, update_time, remark from parse_result
    </sql>

    <select id="selectParseResultList" parameterType="ParseResult" resultMap="ParseResultResult">
        <include refid="selectParseResultVo"/>
        <where>  
            <if test="resourceId != null "> and resource_id = #{resourceId}</if>
            <if test="recourseFileId != null "> and recourse_file_id = #{recourseFileId}</if>
            <if test="parseConfigId != null "> and parse_config_id = #{parseConfigId}</if>
        </where>
    </select>
    
    <select id="selectParseResultByParseResultId" parameterType="Long" resultMap="ParseResultResult">
        <include refid="selectParseResultVo"/>
        where parse_result_id = #{parseResultId}
    </select>

    <insert id="insertParseResult" parameterType="ParseResult" useGeneratedKeys="true" keyProperty="parseResultId">
        insert into parse_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="resourceId != null">resource_id,</if>
            <if test="recourseFileId != null">recourse_file_id,</if>
            <if test="parseConfigId != null">parse_config_id,</if>
            <if test="result != null and result != ''">result,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="resourceId != null">#{resourceId},</if>
            <if test="recourseFileId != null">#{recourseFileId},</if>
            <if test="parseConfigId != null">#{parseConfigId},</if>
            <if test="result != null and result != ''">#{result},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateParseResult" parameterType="ParseResult">
        update parse_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="resourceId != null">resource_id = #{resourceId},</if>
            <if test="recourseFileId != null">recourse_file_id = #{recourseFileId},</if>
            <if test="parseConfigId != null">parse_config_id = #{parseConfigId},</if>
            <if test="result != null and result != ''">result = #{result},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where parse_result_id = #{parseResultId}
    </update>

    <delete id="deleteParseResultByParseResultId" parameterType="Long">
        delete from parse_result where parse_result_id = #{parseResultId}
    </delete>

    <delete id="deleteParseResultByParseResultIds" parameterType="String">
        delete from parse_result where parse_result_id in 
        <foreach item="parseResultId" collection="array" open="(" separator="," close=")">
            #{parseResultId}
        </foreach>
    </delete>

</mapper>